.version.architecture {
    color: #0000F0;
    background-color: #15A856;
}

.js body {
    visibility: hidden;
}

.js body.initialized {
    visibility: visible;
}

#page {
    border-color: #000000;
    background-image: none;
    border-width: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    z-index: 1;
}

#pu13048 {
    width: 0.01px;
    margin-right: -10000px;
    z-index: 56;
}

#u13048 {
    border-color: transparent;
    position: relative;
    min-height: 25px;
    width: 50px;
    border-width: 0px;
    background-color: transparent;
    z-index: 56;
}

#u13049 {
    border-color: transparent;
    position: relative;
    min-height: 32px;
    width: 50px;
    border-width: 0px;
    margin-top: 12px;
    background-color: transparent;
    z-index: 57;
}

#pmenuu8549 {
    width: 0.01px;
    margin-right: -10000px;
    z-index: 2;
}

#menuu8549 {
    position: relative;
    width: 622px;
    height: 34px;
    z-index: 2;
}

#u8564 {
    min-height: 34px;
    left: 160px;
    width: 55px;
    margin-right: -10000px;
    position: relative;
}

#u8565 {
    width: 50px;
    padding-bottom: 16px;
    position: relative;
}

#u8565:hover, #u8565.MuseMenuActive {
    min-height: 0px;
    width: 50px;
    margin: 0px;
}

#u8567-4 {
    left: 4px;
    position: relative;
    min-height: 18px;
    width: 42px;
    top: 8px;
    margin-right: -10000px;
}

#u8565:hover #u8567-4, #u8565.MuseMenuActive #u8567-4 {
    padding-bottom: 0px;
    padding-top: 0px;
    min-height: 18px;
    width: 42px;
    margin: 0px -10000px 0px 0px;
}

#u8550 {
    min-height: 34px;
    width: 85px;
    left: 52px;
    margin-right: -10000px;
    position: relative;
}

#u8551 {
    width: 85px;
    padding-bottom: 16px;
    position: relative;
}

#u8551:hover, #u8551.MuseMenuActive {
    min-height: 0px;
    width: 85px;
    margin: 0px;
}

#u8553-4 {
    left: 4px;
    position: relative;
    min-height: 18px;
    width: 77px;
    top: 8px;
    margin-right: -10000px;
}

#u8551:hover #u8553-4, #u8551.MuseMenuActive #u8553-4 {
    padding-bottom: 0px;
    padding-top: 0px;
    min-height: 18px;
    width: 77px;
    margin: 0px -10000px 0px 0px;
}

#u8557 {
    min-height: 34px;
    width: 128px;
    left: 218px;
    margin-right: -10000px;
    position: relative;
}

#u8560 {
    width: 111px;
    padding-bottom: 16px;
    position: relative;
}

#u8560.MuseMenuActive {
    min-height: 0px;
    width: 111px;
    margin: 0px;
}

#u8561-4 {
    left: 4px;
    position: relative;
    min-height: 18px;
    width: 103px;
    top: 8px;
    margin-right: -10000px;
}

#u8560:hover #u8561-4, #u8560.MuseMenuActive #u8561-4 {
    padding-bottom: 0px;
    padding-top: 0px;
    min-height: 18px;
    width: 103px;
    margin: 0px -10000px 0px 0px;
}

#u8592 {
    min-height: 34px;
    width: 69px;
    left: 350px;
    margin-right: -10000px;
    position: relative;
}

#u8593 {
    width: 65px;
    padding-bottom: 16px;
    position: relative;
}

#u8593.MuseMenuActive {
    min-height: 0px;
    width: 65px;
    margin: 0px;
}

#u8596-4 {
    left: 3px;
    position: relative;
    min-height: 18px;
    width: 58px;
    top: 8px;
    margin-right: -10000px;
}

#u8593:hover #u8596-4, #u8593.MuseMenuActive #u8596-4 {
    padding-bottom: 0px;
    padding-top: 0px;
    min-height: 18px;
    width: 58px;
    margin: 0px -10000px 0px 0px;
}

#u8578 {
    min-height: 34px;
    width: 106px;
    left: 425px;
    margin-right: -10000px;
    position: relative;
}

#u8581 {
    width: 93px;
    padding-bottom: 16px;
    position: relative;
}

#u8581.MuseMenuActive {
    min-height: 0px;
    width: 93px;
    margin: 0px;
}

#u8582-4 {
    left: 3px;
    position: relative;
    min-height: 18px;
    width: 86px;
    top: 8px;
    margin-right: -10000px;
}

#u8581:hover #u8582-4, #u8581.MuseMenuActive #u8582-4 {
    padding-bottom: 0px;
    padding-top: 0px;
    min-height: 18px;
    width: 86px;
    margin: 0px -10000px 0px 0px;
}

#u8585 {
    min-height: 34px;
    width: 126px;
    left: 414px;
    margin-right: -10000px;
    position: relative;
}

#u8586 {
    width: 126px;
    padding-bottom: 16px;
    position: relative;
}

#u8586.MuseMenuActive {
    min-height: 0px;
    width: 126px;
    margin: 0px;
}

#u8589-4 {
    left: 3px;
    position: relative;
    min-height: 18px;
    width: 119px;
    top: 8px;
    margin-right: -10000px;
}

#u8586:hover #u8589-4, #u8586.MuseMenuActive #u8589-4 {
    padding-bottom: 0px;
    padding-top: 0px;
    min-height: 18px;
    width: 119px;
    margin: 0px -10000px 0px 0px;
}

#u8571 {
    min-height: 34px;
    width: 80px;
    left: 542px;
    margin-right: -10000px;
    position: relative;
}

#u8574 {
    width: 88px;
    padding-bottom: 12px;
    position: relative;
}

#u8574:hover, #u8574.MuseMenuActive {
    min-height: 0px;
    width: 88px;
    margin: 0px;
}

#u8576-4 {
    left: 5px;
    position: relative;
    min-height: 18px;
    width: 69px;
    top: 6px;
    margin-right: -10000px;
}

#u8574:hover #u8576-4, #u8574.MuseMenuActive #u8576-4 {
    padding-bottom: 0px;
    padding-top: 0px;
    min-height: 18px;
    width: 69px;
    margin: 0px -10000px 0px 0px;
}

#u13793 {
    min-height: 73px;
    padding-bottom: 12px;
    background-color: #282828;
    z-index: 56;
}


#u13794-4 {
    line-height: 60px;
    color: #FFF9F8;
    margin-top: 12px;
    position: relative;
    font-size: 50px;
    text-align: center;
    z-index: 59;
    background-color: transparent;
    min-height: 58px;
    font-weight: 700;
    font-family: pt-sans, sans-serif;
    margin-right: -10000px;
}

#u13793-bw {
    min-height: 72px;
    z-index: 58;
}

#u13795 {
    position: relative;
    width: 637px;
    background-color: transparent;
    z-index: 63;
}

#u13799 {
    border-color: transparent;
    position: relative;
    border-width: 0px;
    background-color: transparent;
    z-index: 67;
}

#u13800-24 {
    line-height: 29px;
    color: #565656;
    position: relative;
    font-size: 24px;
    text-align: left;
    z-index: 68;
    background-color: transparent;
    min-height: 37px;
    font-weight: 400;
    font-family: pt-sans, sans-serif;
    margin-right: -10000px;
}

#u13800-20 {
    font-weight: 700;
}

#u13797 {
    position: relative;
    width: 725px;
    background-color: transparent;
    z-index: 65;
}

#u9387 {
    min-height: 42px;
    padding-bottom: 20px;
    z-index: 45;
}

#u13793_align_to_page, #u9387_align_to_page {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#u9388-4 {
    margin-top: 9px;
    position: relative;
    margin-right: -10000px;
    z-index: 46;
}

#u9391-4 {
    margin-top: 9px;
    position: relative;
    margin-right: -10000px;
    z-index: 52;
}

#u9389 {
    z-index: 50;
    width: 188px;
    margin-right: -10000px;
    position: relative;
}

#u9387-bw {
    min-height: 42px;
    z-index: 45;
}

.html {
    background-color: #FFFFFF;
}

body {
    position: relative;
}

@media (min-width: 961px), print {
    #muse_css_mq {
        background-color: #FFFFFF;
    }

    #bp_infinity.active {
        display: block;
    }

    #page {
        width: 960px;
        min-height: 1700px;
    }

    #pu13048 {
        margin-top: 191px;
        margin-left: -379px;
    }

    #pmenuu8549 {
        padding-bottom: 0px;
        margin-top: 33px;
        margin-left: -133px;
    }

    #menuu8549 {
        margin-left: 450px;
    }

    #u13794-4 {
        width: 410px;
        left: 440px;
    }

    #u13793-bw {
        margin-top: 12px;
    }

    #u13795 {
        margin-left: 293px;
        margin-top: 40px;
    }

    #u13799 {
        width: 785px;
        margin-left: 220px;
        margin-top: 53px;
    }

    #u13800-24 {
        width: 785px;
    }

    #u13797 {
        margin-left: 249px;
        margin-top: 44px;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 1659px);
    }

    #u13793_align_to_page, #u9387_align_to_page {
        width: 960px;
        left: -133px;
    }

    #u9388-4 {
        width: 571px;
        left: 153px;
    }

    #u9391-4 {
        width: 110px;
        left: 775px;
    }

    #u9389 {
        left: 885px;
    }

    body {
        min-width: 960px;
    }

    .verticalspacer {
        min-height: 40px;
    }
}

@media (min-width: 769px) and (max-width: 960px) {
    #muse_css_mq {
        background-color: #0003c0;
    }

    #bp_960.active {
        display: block;
    }

    #page {
        width: 768px;
        min-height: 500px;
    }

    #pu13048 {
        margin-top: 375px;
        margin-left: -387px;
    }

    #pmenuu8549 {
        padding-bottom: 0px;
        margin-top: 35px;
        margin-left: -96px;
    }

    #menuu8549 {
        margin-left: 242px;
    }

    #u13794-4 {
        width: 386px;
        left: 291px;
    }

    #u13793-bw {
        margin-top: 7650px;
    }

    #u13795 {
        margin-left: 161px;
        margin-top: 40px;
    }

    #u13799 {
        width: 628px;
        margin-left: 176px;
        margin-top: 27px;
    }

    #u13800-24 {
        width: 628px;
    }

    #u13797 {
        margin-left: 127px;
        margin-top: 19px;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 9305px);
    }

    #u13793_align_to_page, #u9387_align_to_page {
        width: 768px;
        left: -96px;
    }

    #u9388-4 {
        width: 571px;
        left: 25px;
    }

    #u9391-4 {
        width: 110px;
        left: 647px;
    }

    #u9389 {
        left: 757px;
    }

    body {
        overflow-x: hidden;
        min-width: 768px;
    }

    .verticalspacer {
        min-height: 1px;
    }
}

@media (max-width: 768px) {
    #muse_css_mq {
        background-color: #000300;
    }

    #bp_768.active {
        display: block;
    }

    #page {
        width: 768px;
        min-height: 500px;
    }

    #pu13048 {
        margin-top: 375px;
        margin-left: -387px;
    }

    #pmenuu8549 {
        margin-top: 35px;
    }

    #menuu8549 {
        margin-left: 126px;
    }

    #u13794-4 {
        width: 369px;
        left: 209px;
    }

    #u13793-bw {
        margin-top: 7650px;
    }

    #u13795 {
        margin-left: 76px;
        margin-top: 56px;
    }

    #u13799 {
        width: 628px;
        margin-left: 80px;
        margin-top: 36px;
    }

    #u13800-24 {
        width: 628px;
    }

    #u13797 {
        margin-left: 31px;
        margin-top: 6px;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 9318px);
    }

    #u13793_align_to_page, #u9387_align_to_page {
        width: 768px;
    }

    #u9388-4 {
        width: 438px;
        left: 13px;
    }

    #u9391-4 {
        width: 103px;
        left: 477px;
    }

    #u9389 {
        left: 580px;
    }

    body {
        overflow-x: hidden;
        min-width: 768px;
    }

    .verticalspacer {
        min-height: 1px;
    }
}