.version.manual {
    color: #00001C;
    background-color: #0C867F;
}

.js body {
    visibility: hidden;
}

.js body.initialized {
    visibility: visible;
}

#page {
    border-color: #000000;
    background-image: none;
    border-width: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    z-index: 1;
}

#pmenuu8549 {
    padding-bottom: 0px;
    width: 0.01px;
    margin-right: -10000px;
    z-index: 2;
}

#menuu8549 {
    position: relative;
    width: 622px;
    height: 34px;
    z-index: 2;
}

#u8564 {
    min-height: 34px;
    left: 160px;
    width: 55px;
    margin-right: -10000px;
    position: relative;
}

#u8565 {
    width: 50px;
    padding-bottom: 16px;
    position: relative;
}

#u8565:hover, #u8565.MuseMenuActive {
    min-height: 0px;
    width: 50px;
    margin: 0px;
}

#u8567-4 {
    left: 4px;
    position: relative;
    min-height: 18px;
    width: 42px;
    top: 8px;
    margin-right: -10000px;
}

#u8565:hover #u8567-4, #u8565.MuseMenuActive #u8567-4 {
    padding-bottom: 0px;
    padding-top: 0px;
    min-height: 18px;
    width: 42px;
    margin: 0px -10000px 0px 0px;
}

#u8550 {
    min-height: 34px;
    width: 85px;
    left: 52px;
    margin-right: -10000px;
    position: relative;
}

#u8551 {
    width: 85px;
    padding-bottom: 16px;
    position: relative;
}

#u8551:hover, #u8551.MuseMenuActive {
    min-height: 0px;
    width: 85px;
    margin: 0px;
}

#u8553-4 {
    left: 4px;
    position: relative;
    min-height: 18px;
    width: 77px;
    top: 8px;
    margin-right: -10000px;
}

#u8551:hover #u8553-4, #u8551.MuseMenuActive #u8553-4 {
    padding-bottom: 0px;
    padding-top: 0px;
    min-height: 18px;
    width: 77px;
    margin: 0px -10000px 0px 0px;
}

#u8557 {
    min-height: 34px;
    width: 128px;
    left: 218px;
    margin-right: -10000px;
    position: relative;
}

#u8560 {
    width: 111px;
    padding-bottom: 16px;
    position: relative;
}

#u8560.MuseMenuActive {
    min-height: 0px;
    width: 111px;
    margin: 0px;
}

#u8561-4 {
    left: 4px;
    position: relative;
    min-height: 18px;
    width: 103px;
    top: 8px;
    margin-right: -10000px;
}

#u8560:hover #u8561-4, #u8560.MuseMenuActive #u8561-4 {
    padding-bottom: 0px;
    padding-top: 0px;
    min-height: 18px;
    width: 103px;
    margin: 0px -10000px 0px 0px;
}

#u8592 {
    min-height: 34px;
    width: 69px;
    left: 350px;
    margin-right: -10000px;
    position: relative;
}

#u8593 {
    width: 65px;
    padding-bottom: 16px;
    position: relative;
}

#u8593.MuseMenuActive {
    min-height: 0px;
    width: 65px;
    margin: 0px;
}

#u8596-4 {
    left: 3px;
    position: relative;
    min-height: 18px;
    width: 58px;
    top: 8px;
    margin-right: -10000px;
}

#u8593:hover #u8596-4, #u8593.MuseMenuActive #u8596-4 {
    padding-bottom: 0px;
    padding-top: 0px;
    min-height: 18px;
    width: 58px;
    margin: 0px -10000px 0px 0px;
}

#u8578 {
    min-height: 34px;
    width: 106px;
    left: 425px;
    margin-right: -10000px;
    position: relative;
}

#u8581 {
    width: 93px;
    padding-bottom: 16px;
    position: relative;
}

#u8581.MuseMenuActive {
    min-height: 0px;
    width: 93px;
    margin: 0px;
}

#u8582-4 {
    left: 3px;
    position: relative;
    min-height: 18px;
    width: 86px;
    top: 8px;
    margin-right: -10000px;
}

#u8581:hover #u8582-4, #u8581.MuseMenuActive #u8582-4 {
    padding-bottom: 0px;
    padding-top: 0px;
    min-height: 18px;
    width: 86px;
    margin: 0px -10000px 0px 0px;
}

#u8585 {
    min-height: 34px;
    width: 126px;
    left: 414px;
    margin-right: -10000px;
    position: relative;
}

#u8586 {
    width: 126px;
    padding-bottom: 16px;
    position: relative;
}

#u8586.MuseMenuActive {
    min-height: 0px;
    width: 126px;
    margin: 0px;
}

#u8589-4 {
    left: 3px;
    position: relative;
    min-height: 18px;
    width: 119px;
    top: 8px;
    margin-right: -10000px;
}

#u8586:hover #u8589-4, #u8586.MuseMenuActive #u8589-4 {
    padding-bottom: 0px;
    padding-top: 0px;
    min-height: 18px;
    width: 119px;
    margin: 0px -10000px 0px 0px;
}

#u8571 {
    min-height: 34px;
    width: 80px;
    left: 542px;
    margin-right: -10000px;
    position: relative;
}

#u8574 {
    width: 88px;
    padding-bottom: 12px;
    position: relative;
}

#u8574:hover, #u8574.MuseMenuActive {
    min-height: 0px;
    width: 88px;
    margin: 0px;
}

#u8576-4 {
    left: 5px;
    position: relative;
    min-height: 18px;
    width: 69px;
    top: 6px;
    margin-right: -10000px;
}

#u8574:hover #u8576-4, #u8574.MuseMenuActive #u8576-4 {
    padding-bottom: 0px;
    padding-top: 0px;
    min-height: 18px;
    width: 69px;
    margin: 0px -10000px 0px 0px;
}

#u14791 {
    min-height: 73px;
    padding-bottom: 12px;
    background-color: #282828;
    z-index: 56;
}

#u14792-4 {
    line-height: 60px;
    color: #FFF9F8;
    margin-top: 13px;
    position: relative;
    font-size: 50px;
    text-align: center;
    z-index: 57;
    background-color: transparent;
    min-height: 58px;
    font-weight: 700;
    font-family: pt-sans, sans-serif;
    margin-right: -10000px;
}

#u14791-bw {
    min-height: 73px;
    z-index: 56;
}

#u14793 {
    border-color: transparent;
    position: relative;
    border-width: 0px;
    margin-top: 42px;
    background-color: transparent;
    z-index: 61;
}

#u14794-61 {
    line-height: 26px;
    color: #565656;
    position: relative;
    font-size: 22px;
    text-align: left;
    z-index: 62;
    background-color: transparent;
    min-height: 37px;
    font-weight: 400;
    font-family: pt-sans, sans-serif;
    margin-right: -10000px;
}

#u14794, #u14794-36 {
    font-weight: 700;
}

#u20881 {
    position: relative;
    width: 275px;
    background-color: transparent;
    z-index: 151;
}


#u14801 {
    border-color: transparent;
    position: relative;
    border-width: 0px;
    background-color: transparent;
    z-index: 123;
}

#u14802-17 {
    line-height: 26px;
    color: #565656;
    position: relative;
    font-size: 22px;
    text-align: left;
    z-index: 124;
    background-color: transparent;
    min-height: 37px;
    font-weight: 400;
    font-family: pt-sans, sans-serif;
    margin-right: -10000px;
}

#u20895333 {
    position: relative;
    width: 498px;
    background-color: transparent;
    z-index: 153;
}

#u20895 {
    position: relative;
    width: 498px;
    background-color: transparent;
    z-index: 153;
}

#u14805 {
    border-color: transparent;
    position: relative;
    border-width: 0px;
    background-color: transparent;
    z-index: 141;
}

#u14806-9 {
    line-height: 26px;
    color: #565656;
    position: relative;
    font-size: 22px;
    text-align: left;
    z-index: 142;
    background-color: transparent;
    min-height: 37px;
    font-weight: 400;
    font-family: pt-sans, sans-serif;
    margin-right: -10000px;
}

#u14794-10 .list1>li:before, #u14794-15 .list1>li:before, #u14794-20 .list1>li:before, #u14794-25 .list1>li:before, #u14794-34 .list1>li:before, #u14794-45 .list1>li:before, #u14794-52 .list1>li:before, #u14794-59 .list1>li:before, #u14806-7 .list1>li:before {
    content: '•';
}

#u20909 {
    position: relative;
    width: 275px;
    margin-top: 52px;
    background-color: transparent;
    z-index: 155;
}

#u20923 {
    border-color: transparent;
    position: relative;
    border-width: 0px;
    margin-top: 53px;
    background-color: transparent;
    z-index: 157;
}

#u20924-16 {
    line-height: 26px;
    color: #565656;
    position: relative;
    font-size: 22px;
    text-align: left;
    z-index: 158;
    background-color: transparent;
    min-height: 37px;
    font-weight: 400;
    font-family: pt-sans, sans-serif;
    margin-right: -10000px;
}

#u14802-11>li:before, #u20924-11>li:before, #u20924-11 .list1>li:before {
    content: '-';
}

#u14794-10>#u14794-9:before, #u14794-15>#u14794-14:before, #u14794-20>#u14794-19:before, #u14794-25>#u14794-24:before, #u14794-34>#u14794-33:before, #u14794-45>#u14794-44:before, #u14794-52>#u14794-51:before, #u14794-59>#u14794-58:before, #u14806-7>#u14806-6:before, #u20924-11>#u20924-10:before {
    visibility: hidden;
    counter-increment: list 0;
}

#u14794-7, #u14794-12, #u14794-17, #u14794-22, #u14794-29, #u14794-31, #u14794-42, #u14794-49, #u14794-56, #u14806-4, #u20924-4, #u20924-6, #u20924-8 {
    line-height: 26px;
    color: #565656;
    font-family: pt-sans, sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-align: left;
}

#u14802-13, #u14802-15, #u20924-2, #u20924-12, #u20924-14 {
    text-indent: 46px;
}

#u20939 {
    position: relative;
    width: 704px;
    background-color: transparent;
    z-index: 174;
}

#u20953 {
    border-color: transparent;
    position: relative;
    border-width: 0px;
    background-color: transparent;
    z-index: 176;
}

#u20954-7 {
    line-height: 26px;
    color: #565656;
    position: relative;
    font-size: 22px;
    text-align: left;
    z-index: 177;
    background-color: transparent;
    min-height: 37px;
    font-weight: 400;
    font-family: pt-sans, sans-serif;
    margin-right: -10000px;
}

#u9387 {
    min-height: 42px;
    padding-bottom: 20px;
    z-index: 45;
}

#u14791_align_to_page, #u9387_align_to_page {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#u9388-4 {
    margin-top: 9px;
    position: relative;
    margin-right: -10000px;
    z-index: 46;
}

#u9391-4 {
    margin-top: 9px;
    position: relative;
    margin-right: -10000px;
    z-index: 52;
}

#u9389 {
    z-index: 50;
    width: 188px;
    margin-right: -10000px;
    position: relative;
}

#u9387-bw {
    min-height: 42px;
    z-index: 45;
}

.html {
    background-color: #FFFFFF;
}

body {
    position: relative;
}

@media (min-width: 961px), print {
    #muse_css_mq {
        background-color: #FFFFFF;
    }

    #bp_infinity.active {
        display: block;
    }

    #page {
        width: 960px;
        min-height: 3782px;
    }

    #pmenuu8549 {
        margin-top: 33px;
        margin-left: -133px;
    }

    #menuu8549 {
        margin-left: 450px;
    }

    #u14792-4 {
        width: 429px;
        left: 390px;
    }

    #u14791-bw {
        margin-top: 12px;
    }

    #u14793 {
        width: 981px;
        margin-left: 114px;
    }

    #u20881 {
        margin-left: 475px;
        margin-top: 33px;
    }

    #u14801 {
        width: 981px;
        margin-left: 106px;
        margin-top: 33px;
    }

    #u20895333 {
        margin-left: 364px;
        margin-top: 52px;
    }

    #u20895 {
        margin-left: 364px;
        margin-top: 52px;
    }

    #u14805 {
        width: 981px;
        margin-left: 106px;
        margin-top: 53px;
    }

    #u20909 {
        margin-left: 475px;
    }

    #u20923 {
        width: 981px;
        margin-left: 122px;
    }

    #u20939 {
        margin-left: 260px;
        margin-top: 52px;
    }

    #u20953 {
        width: 981px;
        margin-left: 122px;
        margin-top: 52px;
    }

    #u14794-61, #u14802-17, #u14806-9, #u20924-16, #u20954-7 {
        width: 981px;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 3735px);
    }

    #u14791_align_to_page, #u9387_align_to_page {
        width: 960px;
        left: -133px;
    }

    #u9388-4 {
        width: 571px;
        left: 153px;
    }

    #u9391-4 {
        width: 110px;
        left: 775px;
    }

    #u9389 {
        left: 885px;
    }

    body {
        min-width: 960px;
    }

    .verticalspacer {
        min-height: 46px;
    }
}

@media (min-width: 769px) and (max-width: 960px) {
    #muse_css_mq {
        background-color: #0003c0;
    }

    #bp_960.active {
        display: block;
    }

    #page {
        width: 768px;
        min-height: 2180px;
    }

    #pmenuu8549 {
        margin-top: 35px;
        margin-left: -96px;
    }

    #menuu8549 {
        margin-left: 242px;
    }

    #u14792-4 {
        width: 343px;
        left: 300px;
    }

    #u14791-bw {
        margin-top: 10px;
    }

    #u14793 {
        width: 785px;
        margin-left: 80px;
    }

    #u20881 {
        margin-left: 334px;
        margin-top: 26px;
    }

    #u20895333 {
        margin-left: 216px;
        margin-top: 13px;
    }

    #u20895 {
        margin-left: 216px;
        margin-top: 13px;
    }

    #u14801, #u14805 {
        width: 785px;
        margin-left: 72px;
        margin-top: 14px;
    }

    #u20909 {
        margin-left: 327px;
    }

    #u20923 {
        width: 785px;
        margin-left: 88px;
    }

    #u20939 {
        margin-left: 121px;
    }

    #u20953 {
        width: 785px;
        margin-left: 88px;
        margin-top: 52px;
    }

    #u14794-61, #u14802-17, #u14806-9, #u20924-16, #u20954-7 {
        width: 785px;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 3734px);
    }

    #u14791_align_to_page, #u9387_align_to_page {
        width: 768px;
        left: -96px;
    }

    #u9388-4 {
        width: 571px;
        left: 25px;
    }

    #u9391-4 {
        width: 110px;
        left: 647px;
    }

    #u9389 {
        left: 757px;
    }

    body {
        overflow-x: hidden;
        min-width: 768px;
    }

    .verticalspacer {
        min-height: 1px;
    }
}

@media (max-width: 768px) {
    #muse_css_mq {
        background-color: #000300;
    }

    #bp_768.active {
        display: block;
    }

    #page {
        width: 768px;
        min-height: 2180px;
    }

    #pmenuu8549 {
        margin-top: 35px;
        margin-left: -24px;
    }

    #menuu8549 {
        margin-left: 150px;
    }

    #u14792-4 {
        width: 343px;
        left: 204px;
    }

    #u14791-bw {
        margin-top: 10px;
    }

    #u14793 {
        width: 785px;
        margin-left: 8px;
    }

    #u20881 {
        margin-left: 271px;
        margin-top: 20px;
    }

    #u14801 {
        width: 785px;
        margin-top: 20px;
    }

    #u20895333 {
        margin-left: 159px;
        margin-top: 19px;
    }

    #u20895 {
        margin-left: 159px;
        margin-top: 19px;
    }

    #u14805 {
        width: 785px;
        margin-top: 8px;
    }

    #u20909 {
        margin-left: 271px;
    }

    #u20923 {
        width: 785px;
        margin-left: 16px;
    }

    #u20939 {
        margin-left: 57px;
        margin-top: 26px;
    }

    #u20953 {
        width: 785px;
        margin-left: 16px;
        margin-top: 26px;
    }

    #u14794-61, #u14802-17, #u14806-9, #u20924-16, #u20954-7 {
        width: 785px;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 3734px);
    }

    #u14791_align_to_page, #u9387_align_to_page {
        width: 768px;
    }

    #u9388-4 {
        width: 438px;
        left: 13px;
    }

    #u9391-4 {
        width: 103px;
        left: 477px;
    }

    #u9389 {
        left: 580px;
    }

    body {
        overflow-x: hidden;
        min-width: 768px;
    }

    .verticalspacer {
        min-height: 1px;
    }
}