#muse_css_mq {
    background-color: #FFFFFF;
}

#bp_infinity.active {
    display: block;
}

#page {
    width: 960px;
    min-height: 3782px;
}

#pmenuu8549 {
    margin-top: 33px;
    margin-left: -133px;
}

#menuu8549 {
    margin-left: 450px;
}

#u14792-4 {
    width: 429px;
    left: 390px;
}

#u14791-bw {
    margin-top: 12px;
}

#u14793 {
    width: 981px;
    margin-left: 114px;
}

#u20881 {
    margin-left: 475px;
    margin-top: 33px;
}

#u14801 {
    width: 981px;
    margin-left: 106px;
    margin-top: 33px;
}

#u20895333 {
    margin-left: 364px;
    margin-top: 52px;
}

#u20895 {
    margin-left: 364px;
    margin-top: 52px;
}

#u14805 {
    width: 981px;
    margin-left: 106px;
    margin-top: 53px;
}

#u20909 {
    margin-left: 475px;
}

#u20923 {
    width: 981px;
    margin-left: 122px;
}

#u20939 {
    margin-left: 260px;
    margin-top: 52px;
}

#u20953 {
    width: 981px;
    margin-left: 122px;
    margin-top: 52px;
}

#u14794-61, #u14802-17, #u14806-9, #u20924-16, #u20954-7 {
    width: 981px;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 3735px);
}

#u14791_align_to_page, #u9387_align_to_page {
    width: 960px;
    left: -133px;
}

#u9388-4 {
    width: 571px;
    left: 153px;
}

#u9391-4 {
    width: 110px;
    left: 775px;
}

#u9389 {
    left: 885px;
}

body {
    min-width: 960px;
}

.verticalspacer {
    min-height: 46px;
}